* {
  margin: 0;
  line-height: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: hsl(0, 0%, 86%);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  margin: 5px;
}

.w-full {
  width: 100%;
}

.container {
  display: grid;
  padding: 20px;
  border-radius: 20px 20px 40px 20px;
  background: hsl(0, 0%, 100%);
}

label {
  margin-bottom: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: end;
  height: inherit;
  position: relative;
  z-index: 12;
}

.stick {
  display: inline;
  z-index: 0;
  margin-top: 15px;
  width: 100%;
  height: 1px;
  background: hsl(0, 1%, 44%);
}

button {
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  padding: 15px;
  border: none;
  border-radius: 50%;
  background: hsl(259, 100%, 65%);
}

button:hover {
  background: hsl(0, 0%, 8%);
}

input {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 86%);
  font-size: 20px;
  font-weight: bold;
  outline-color: hsl(259, 100%, 65%);
}

input:hover {
  border-color: hsl(259, 100%, 65%);
}

button img {
  width: 20px;
}

.age {
  font-size: 20px;
  font-weight: 700;
}

.ageD,
.ageM,
.ageY {
  display: flex;
  align-items: center;
  height: inherit;
}

.color {
  color: hsl(259, 100%, 65%);
}

span {
  display: inline-block;
  color: hsl(259, 100%, 65%);
} 

.ages {
  font-size: 48px;
  font-weight: 800;
  font-style: italic;
}

#ages,
#ageY,
#ageM,
#ageD {
  font-size: 56px;
  font-weight: 800;
  font-style: italic;
  color: hsl(259, 100%, 65%);
}

#ages {
  color: hsl(259, 100%, 65%);
}

@media screen and (min-width: 2000px) {
  .container {
    width: 90%;
    display: grid;
    place-items: center;
    height: initial;
  }
}

@media screen and (max-width: 654px) {
  .container {
    place-items: center;
    width: 90%;
  }

  .stick {
    width: 90%;
    height: 0.5px;
    position: absolute;
  }

  .btn {
    justify-content: center;
  }
}